<div class="side-menu">
    <div class="menu-links">
        <ul id="menu-list">
            <li><a href="#" onclick="updateHeadingOnClick(event)">Pirate Adventure</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Space Travel</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Cowboy Rodeo</a></li>
        </ul>
    </div>
</div>
<div class = "text-box">
    <form action = "/templates/generate/" method = "GET">
        <input type="hidden" name="title" id="title-input" value="Pirate Adventure">        <h1>Pirate Adventure</h1>
        <div class="dropdown">
            <label for="character1">Character1</label>
            <select name="character1" id="character1">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <div class="dropdown">
            <label for="character2">Character2</label>
            <select name="character2" id="character2">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <button type = "submit">Generate</button>
</div>

<script>
    function updateHeadingOnClick(event) {
        // Prevent the default link behavior
        event.preventDefault();

        // Get the clicked link's text
        const text = event.target.innerText;

        // Get the <h1> element
        const headingElement = document.querySelector('h1');
        const titleInput = document.getElementById('title-input');
        titleInput.value = text;

        // Update the heading text with the text from the clicked link
        headingElement.innerText = text;
    }
</script>
