<div class = "text-box">
    <form action = "/templates/generate/" method = "GET">
        <h1>Pirate Adventure</h1>
        <div class="dropdown">
            <label for="character1">Character1</label>
            <select name="character1" id="character1">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <div class="dropdown">
            <label for="character2">Character2</label>
            <select name="character2" id="character2">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <button type = "submit">Generate</button>
    </div>
</div>