<div class="side-menu">
    <h2>Select a story</h2>
    <div class="menu-links">
        <ul id="menu-list">
            <li><a href="#" onclick="updateHeadingOnClick(event)">Pirate Adventure</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Space Travel</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Cowboy Rodeo</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Deep Sea Exploration</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Enchanted Forest</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Time Travelers</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Steampunk Airship</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Underground Caves</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Mythical Creatures</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Wild West Duel</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Robotic Rebellion</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Ancient Ruins</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Magical Academy</a></li>
            <li><a href="#" onclick="updateHeadingOnClick(event)">Alien Encounter</a></li>
        </ul>
    </div>
</div>
<div class = "text-box">
    <form action = "/templates/generate/" method = "GET">
        <h1 class = "fade-in">Pirate Adventure</h1>
        <input type="hidden" name="title" id="title-input" value="Pirate Adventure">      
        <% if(characters.length === 0){ %>
            <p>No characters found. <a href="/characters">Add a new character</a></p>
        <% }else{ %>  
        <div class="dropdown">
            <label for="character1">Character1</label>
            <select name="character1" id="character1">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <div class="dropdown">
            <label for="character2">Character2</label>
            <select name="character2" id="character2">
                <% characters.forEach((character) => { %>
                    <option value="<%= character._id %>"><%= character.name %> #<%=String(character._id).slice(-3)%></option>
                <% }); %>
            </select>
        </div>
        <button type = "submit">Generate</button>
        <%}%>
    </form>
</div>

<script src="/scripts/templates/index.js"></script>
