<h1 class = "basic-header">Create a story</h1>
<table>
    <tr id="table-top">
        <th>Title</th>
        <th><a href ="/templates"><button type="submit" class="add-button"></button></a></th>
    </tr>
    <% stories.forEach((story) => { %>
        <tr>
            <td><%= story.title %></td>
            <td>
                <div class ="edit">
                    <form action="stories/edit" method="GET">
                        <input type="hidden" name="title" value="<%= story.title %>">
                        <input type="hidden" name="story" value="<%= JSON.stringify(story.story) %>">
                        <input type="hidden" name="imageURL" value="<%= story.imageURL %>"> 
                        <input type="hidden" name="id" value="<%= story._id %>"> 
                        <button type="submit" class="edit-button"></button>
                    </form>
                    <form action="stories/<%= story._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="delete-button"></button>
                    </form>
                </div>
            </td> 
        </tr>
    <% }); %>
</table>