<table>
    <tr id="table-top">
        <th>Name</th>
        <th>Hobby</th>
        <th>Trait</th>
        <th>ID</th>
        <th><a href ="characters/new"><button type="submit" class="add-button"></button></a></th>
    </tr>
    <% characters.forEach((character) => { %>
        <tr>
            <td><%= character.name %></td>
            <td><%= character.hobby %></td>
            <td><%= character.trait %></td>
            <td><%= String(character._id).slice(-3) %></td>
            <td>
                <div class ="edit">
                    <form action="characters/edit" method="GET">
                        <input type="hidden" name="name" value="<%= character.name %>">
                        <input type="hidden" name="hobby" value="<%= character.hobby %>">
                        <input type="hidden" name="trait" value="<%= character.trait %>">
                        <input type="hidden" name="_id" value="<%= character._id %>">
                        <button type="submit" class="edit-button"></button>
                    </form>
                    <form action="characters/<%= character._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="delete-button"></button>
                    </form>
                </div>
            </td> 
        </tr>
    <% }); %>
</table>